@charset "UTF-8";

html {
	background: #F0F0F0;
}

body {
	font-family: Arial;
	height: 100%;
	min-width: 300px;
	margin: 10px;
	padding: 10px;
	color: #000000;
}

header {
	border: 2px solid #000000;
	margin: 10px;
	padding: 10px;
	background-color: #35e1ff;
	text-align: center;
}

section {
	border: 2px solid #35e1ff;
	margin: 10px;
	padding: 10px;
}

footer {
	border: 2px solid #000000;
	margin: 10px;
	padding: 10px;
	background-color: #35e1ff;
	text-align: center;
}

	
select {
	-webkit-appearance: none;
  	-moz-appearance: none;
  	appearance: none;
  	background-color: #c0c0c0;
  	/* background: transparent; */
  	border: 1px solid #111;
  	margin: 3px;
  	font-size: 0.9em;
  	padding: 1px 1px 1px 1px;
}

input[type=button], input[type=submit] {
	background-color: #c0c0c0;
	border: 1px solid #111;
	margin: 3px;
	font-size: 0.9em;
	padding: 2px 2px 2px 2px;
}

input[type=button]:hover, input[type=submit]:hover {
	background-color: #35e1ff;
/* 	border: 1px solid #111; */
/* 	font-size: 0.9em; */
}

input[type=text] {
	font-size: 90%;
	margin: 3px;
}

